/home/henry/Documents/Code/Open Source/Science-Fair-Utilities/Split_Reddit_Accounts/69M_reddit_accounts.csv

/home/henry/Documents/Code/Open Source/Science-Fair-Utilities/Split_Reddit_Accounts/SplitFiles/
